name: plan
on:
  push:
    branches:
    - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v1

    - uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.5

    - name: setup
      run: |
        gem install bundler -v 2.1.2
        bundle install --jobs 4 --retry 3
        docker pull hashicorp/terraform:latest
        docker pull lambci/lambda:build-ruby2.5

    - name: plan
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        bundle exec rum plan
